{% extends 'base.html' %}

{% block body %}
{% set fname = 'assets/img/' + params['img'] %}
<header class="masthead" style="background-image: url('  {{url_for('static', filename=fname)}} ')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Admin Panel</h1>
                    <span class="subheading">Manage and Edit Posts

                    </span>
                </div>
            </div>
        </div>
    </div>
</header>


<h1>Add Posts</h1>

<form name="sentMessage" id="contactForm" action="/edit/{{sno}}" method="post" novalidate>
    <div class="control-group">
        <div class="form-group floating-label-form-group controls">
            <label>Title</label>
            <input type="text" class="form-control" placeholder="Title" id="title" name='title' required
                data-validation-required-message="Please enter title" value="{{post.title}}">
            <p class="help-block text-danger"></p>
        </div>
    </div>
    <div class="control-group">
        <div class="form-group floating-label-form-group controls">
            <label>Slug</label>
            <input type="text" class="form-control" placeholder="slug" id="slug" name="slug" required
                data-validation-required-message="Please enter the slug" value="{{post.slug}}">
            <p class="help-block text-danger"></p>
        </div>
    </div>
    <div class="control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>Content</label>
            <textarea rows="5" class="form-control" placeholder="content" name="content" id="content" required
                data-validation-required-message="Please enter content" > {{post.content}}</textarea>
            <p class="help-block text-danger">
            </p>
        </div>
    </div>
    <div class="control-group">
        <div class="form-group floating-label-form-group controls">
            <label>Image</label>
            <input type="text" class="form-control" placeholder="img" name="img" id="img" required
            data-validation-required-message="Please enter the content" value="{{post.img_file}}">
            <p class="help-block text-danger"></p>
        </div>
    </div>
    <br>
    <div id="success"></div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" id="sendMessageButton">Submit</button>
    </div>
</form>

</table>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="{{url_for('static', filename='js/scripts.js') }} "></script>



{% endblock body %}